.auth-box{
    width: 500px;
    min-width: 500px;
}
.auth-box-inner{
    border: 1px solid #BDBDBD;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
}
.auth-box .logo-box{
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    background-color: silver;
}

.auth-box h4{
    font-weight: 550;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.auth-box p{
    margin-bottom: 30px;
}

.auth-box .input-group{
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    overflow: hidden;
    padding: 3px 10px;
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    color: #828282
}

.auth-box .input-group input{
    border: none;
    height: 36px;
    outline: none;
    width: 100%;
    background-color: white;
}

.auth-box .input-group span{
    margin-top: 7px;
    margin-right: 7px;
}
.auth-box .btn-primary{
    color: white;
    text-align: center;
    background-color: #2F80ED;
    border-radius: 8px;
    height: 38px;
    line-height: 37px;
    cursor: pointer;
}

.auth-box .social-option{
    text-align: center;
    color: #828282;
    font-size: 14px;
    margin-top: 30px;
}

.social-option-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.auth-box .social-icons{
    width: 230px;
    display: flex;
    justify-content: space-between;
    color: #828282;
}
.auth-box .social-icons .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #828282;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box .footer{
    color: #828282;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.auth-box-inner .footer a {
    color: #2F80ED;
    text-decoration: none;
}
