

.dashboard-layout .navbar{
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: white;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

.navbar-user{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-user .avatar-box{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user .avatar-box img{
    width: 100%;
}

.navbar .avatar-box-dialog{
    position: absolute;
    right: 70px;
    width: 190px;
    min-height: 100px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background-color: white;
    top: 100px;
    padding: 10px;
    box-shadow: 0 0 3px 1px #E0E0E0;;
}

.navbar .avatar-box-dialog .item{
    height: 20px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    cursor: pointer;
}

.navbar .avatar-box-dialog .item.active{
    background-color: #F2F2F2;
    border-radius: 8px;

}

.navbar .avatar-box-dialog .item:last-child{
    border-top: 1px solid #E0E0E0;
    color: red;
}

.navbar .avatar-box-dialog span{
    margin-left: 10px;
    font-size: .95em;
}